* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
}

.card {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-row {
}
